/excersise_5/data
/exercise_8/data
/E1_p2/data
/E1_p2/data_2
/E1_p2/data_3
/E3_p3/data2

# Ignore all LaTeX auxiliary files
/documentation/*.aux
/documentation/*.bbl
/documentation/*.blg
/documentation/*.log
/documentation/*.out
/documentation/*.toc
/documentation/*.synctex.gz
/documentation/*.fls
/documentation/*.fdb_latexmk
/documentation/*.pdf


/1Project/documentation/*.aux
/1Project/documentation/*.bbl
/docu1Project/documentationmentation/*.blg
/1Project/documentation/*.log
/1Project/documentation/*.out
/1Project/documentation/*.toc
/1Project/documentation/*.synctex.gz
/1Project/documentation/*.fls
/1Project/documentation/*.fdb_latexmk
/1Project/documentation/*.pdf


/1Project/graphs/*.aux
/1Project/graphs/*.bbl
/1Project/graphs/*.log
/1Project/graphs/*.out
/1Project/graphs/*.toc
/1Project/graphs/*.synctex.gz
/1Project/graphs/*.fls
/1Project/graphs/*.fdb_latexmk
/1Project/graphs/*.pdf
/1Project/graphs/*.snm
/1Project/graphs/*.nav


/1Project/presentation/*.aux
/1Project/presentation/*.bbl
/1Project/presentation/*.log
/1Project/presentation/*.out
/1Project/presentation/*.toc
/1Project/presentation/*.synctex.gz
/1Project/presentation/*.fls
/1Project/presentation/*.fdb_latexmk
/1Project/presentation/*.pdf
/1Project/presentation/*.snm
/1Project/presentation/*.nav



/1Project/code/Data/
/1Project/code/Data 4.0/
/1Project/code/Data 3.0/
/1Project/code/Data 2.0/