/excersise_5/data
/exercise_8/data
/E1_p2/data
/E1_p2/data_2
/E1_p2/data_3

# Ignore all LaTeX auxiliary files
/documentation/*.aux
/documentation/*.bbl
/documentation/*.blg
/documentation/*.log
/documentation/*.out
/documentation/*.toc
/documentation/*.synctex.gz
/documentation/*.fls
/documentation/*.fdb_latexmk
/documentation/*.pdf